.p-Home.Flex1 {
display: flex;
height: 10%;
justify-content: space-between;
align-content: stretch;
align-items: flex-end;
float: none;
flex-direction: row;
margin-top: ;
margin-left: 120px;
padding-top: ;
padding-left: ;
padding-bottom: ;
font-size: ;
font-family: IBM Plex Sans;
font-weight: 500;
word-wrap: normal;
margin-right: 120px;
align-self: auto;
width: ;
overflow: visible;
column-gap: 80px;
}
.p-Home.Flex4 {
display: flex;
justify-content: flex-start;
margin-right: ;
margin-left: 80px;
column-gap: 20px;
row-gap: ;
width: ;
align-items: center;
}
.p-Home.Flex2 {
display: flex;
}
.p-Home.Flex3 {
display: flex;
justify-content: space-between;
align-items: stretch;
float: none;
margin-left: 120px;
margin-right: 120px;
width: 80%;
height: 80vh;
font-family: IBM Plex Sans;
column-gap: ;
flex-direction: row;
border-color: ;
margin-top: 100px;
}
.p-Home.Flex5 {
display: flex;
align-content: stretch;
row-gap: ;
align-items: flex-start;
flex-direction: column;
justify-content: flex-start;
box-sizing: content-box;
color: ;
margin-right: ;
margin-left: ;
background-position-y: ;
margin-top: ;
font-family: IBM Plex Sans;
font-size: ;
}
.p-Home.Flex7 {
display: flex;
}
.p-Home.Flex8 {
display: flex;
width: 100%;
column-gap: 20px;
row-gap: ;
margin-top: 20px;
}
.p-Home.Flex6 {
display: flex;
justify-content: center;
padding-left: ;
}
.p-Home.Flex9 {
display: flex;
height: 40vh;
width: 80%;
align-items: center;
justify-content: center;
align-content: stretch;
column-gap: 20px;
flex-direction: row;
align-self: flex-start;
margin-left: 120px;
margin-right: 120px;
}
.p-Home.Flex10 {
display: flex;
}
.p-Home.Flex11 {
display: flex;
width: 80%;
height: 40vh;
justify-content: center;
flex-direction: row;
align-self: center;
align-items: stretch;
margin-left: 120px;
margin-right: 120px;
}
.p-Home.Flex12 {
display: flex;
flex-direction: column;
align-items: center;
}
.p-Home.Flex13 {
display: flex;
box-sizing: border-box;
justify-content: space-between;
height: 30vh;
column-gap: 20px;
align-self: flex-start;
row-gap: 20px;
margin-top: 20px;
margin-left: 200px;
margin-right: 200px;
margin-bottom: 10px;
width: 80%;
align-items: stretch;
}
.p-Home.Div1 {
align-self: flex-start;
height: 200px;
margin-top: ;
visibility: visible;
}
.p-Home.Flex14 {
display: flex;
justify-content: flex-end;
flex-direction: column-reverse;
align-items: stretch;
row-gap: 20px;
}
.p-Home.Flex16 {
display: flex;
justify-content: flex-end;
align-content: stretch;
flex-direction: column-reverse;
align-items: flex-start;
row-gap: 20px;
}
.p-Home.Flex23 {
display: flex;
margin-top: 200px;
justify-content: space-between;
height: ;
margin-left: 120px;
margin-right: 120px;
width: 80%;
}
.p-Home.Flex24 {
display: flex;
flex-direction: column-reverse;
}
.p-Home.Flex25 {
display: inline-flex;
justify-content: flex-end;
}
.p-Home.Flex27 {
display: flex;
justify-content: space-between;
height: ;
column-gap: 20px;
flex-direction: row;
margin-top: 200px;
overflow: scroll;
box-sizing: content-box;
margin-right: ;
width: ;
margin-left: 120px;
align-items: stretch;
background-attachment: scroll;
position: static;
float: none;
clear: none;
color: #000000;
top: 45px;
bottom: 45px;
left: 456px;
right: 56px;
}
.p-Home.Flex187 {
display: flex;
flex-direction: column;
row-gap: 20px;
font-family: IBM Plex Sans;
}
.p-Home.Flex192 {
display: flex;
}
.p-Home.Flex195 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex198 {
display: flex;
column-gap: 20px;
font-family: IBM Plex Sans;
color: #f6eeee;
}
.p-Home.Flex188 {
display: flex;
flex-direction: column;
row-gap: 20px;
font-family: IBM Plex Sans;
}
.p-Home.Flex193 {
display: flex;
}
.p-Home.Flex194 {
display: flex;
}
.p-Home.Flex197 {
display: flex;
column-gap: 20px;
font-family: IBM Plex Sans;
color: #f6eeee;
}
.p-Home.Flex189 {
display: flex;
height: ;
flex-direction: column;
row-gap: 20px;
font-family: IBM Plex Sans;
}
.p-Home.Flex190 {
display: flex;
}
.p-Home.Flex191 {
display: flex;
height: ;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex196 {
display: flex;
column-gap: 20px;
font-family: IBM Plex Sans;
color: #f6eeee;
}
.p-Home.Flex41 {
display: inline-flex;
margin-top: 20px;
justify-content: flex-end;
background-color: #0c0b0b;
column-gap: 20px;
height: 90px;
width: 100%;
}
.p-Home.Flex42 {
display: flex;
}
.p-Home.Flex50 {
display: flex;
align-items: flex-start;
height: 110vh;
background-color: #0e0e0e;
justify-content: space-between;
margin-left: ;
width: ;
}
.p-Home.Flex51 {
display: flex;
color: #0c0c0c;
flex-direction: column-reverse;
justify-content: flex-start;
margin-left: 120px;
}
.p-Home.Flex54 {
display: flex;
column-gap: 20px;
font-family: IBM Plex Sans;
color: #f6eeee;
}
.p-Home.Flex55 {
display: flex;
column-gap: 20px;
font-family: IBM Plex Sans;
color: #f6eeee;
margin-left: ;
flex-direction: column;
background-color: ;
justify-content: flex-start;
margin-right: ;
row-gap: 20px;
}
.p-Home.Flex56 {
display: flex;
column-gap: 20px;
font-family: IBM Plex Sans;
color: #f6eeee;
}
.p-Home.Flex57 {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.p-Home.Flex59 {
display: flex;
justify-content: center;
flex-direction: column;
font-family: IBM Plex Sans;
font-size: 20px;
column-gap: ;
row-gap: 20px;
margin-top: 20px;
}
.p-Home.Flex58 {
display: flex;
column-gap: 20px;
overflow: visible;
box-sizing: content-box;
border-style: none;
border-width: ;
}
.p-Home.Flex60 {
display: flex;
width: 500px;
height: 100px;
flex-direction: column;
row-gap: 20px;
margin-right: 120px;
}
.p-Home.Flex61 {
display: flex;
}
.p-Home.Flex66 {
display: flex;
justify-content: center;
flex-direction: column;
font-family: IBM Plex Sans;
font-size: 20px;
column-gap: ;
row-gap: 20px;
margin-top: 20px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #4e4b4b;
}
.p-Home.Flex65 {
display: flex;
column-gap: 20px;
margin-bottom: 20px;
}
.p-Home.Flex62 {
display: flex;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #484747;
}
.p-Home.Flex68 {
display: flex;
justify-content: center;
flex-direction: column;
font-family: IBM Plex Sans;
font-size: 20px;
column-gap: ;
row-gap: 20px;
margin-top: 20px;
border-bottom-style: none;
border-bottom-width: 1px;
border-bottom-color: #696767;
}
.p-Home.Flex67 {
display: flex;
column-gap: 20px;
margin-bottom: 20px;
}
.p-Home.Flex63 {
display: flex;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #494646;
}
.p-Home.Flex70 {
display: flex;
justify-content: center;
flex-direction: column;
font-family: IBM Plex Sans;
font-size: 20px;
column-gap: ;
row-gap: 20px;
margin-top: 20px;
border-bottom-width: ;
border-bottom-style: none;
border-bottom-color: #696868;
}
.p-Home.Flex69 {
display: flex;
column-gap: 20px;
margin-bottom: 20px;
}
.p-Home.Flex64 {
display: flex;
flex-direction: column-reverse;
}
.p-Home.Flex72 {
display: flex;
justify-content: center;
flex-direction: column;
font-family: IBM Plex Sans;
font-size: 20px;
column-gap: ;
row-gap: 20px;
margin-top: 20px;
border-bottom-color: #4a4747;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.p-Home.Flex71 {
display: flex;
column-gap: 20px;
margin-bottom: 20px;
}
.p-Home.Flex73 {
display: flex;
height: ;
justify-content: space-between;
margin-top: ;
margin-left: 120px;
margin-right: 120px;
margin-bottom: ;
padding-left: ;
padding-right: ;
width: 80%;
align-items: stretch;
}
.p-Home.Flex74 {
display: flex;
}
.p-Home.Flex75 {
display: flex;
}
.p-Home.Flex76 {
display: flex;
}
.p-Home.Flex77 {
display: flex;
flex-direction: column;
}
.p-Home.Flex78 {
display: flex;
justify-content: space-between;
margin-top: 130px;
padding-left: ;
padding-right: ;
width: 80%;
margin-left: 120px;
margin-right: 120px;
align-self: auto;
align-items: center;
}
.p-Home.Flex79 {
display: flex;
flex-direction: column;
}
.p-Home.Flex80 {
display: flex;
}
.p-Home.Flex85 {
display: flex;
justify-content: space-between;
margin-top: 50px;
row-gap: ;
margin-bottom: 200px;
margin-right: 120px;
column-gap: 60px;
margin-left: 120px;
width: 80%;
}
.p-Home.Flex86 {
display: flex;
column-gap: ;
}
.p-Home.Flex132 {
display: flex;
width: 500px;
flex-direction: column;
row-gap: 45px;
column-gap: ;
}
.p-Home.Flex128 {
display: flex;
column-gap: ;
justify-content: space-between;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #ccc7c7;
}
.p-Home.Flex117 {
display: flex;
}
.p-Home.Flex113 {
display: flex;
flex-direction: column;
justify-content: center;
width: ;
}
.p-Home.Flex118 {
display: flex;
}
.p-Home.Flex119 {
display: flex;
}
.p-Home.Flex129 {
display: flex;
column-gap: 25px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #d0c7c7;
}
.p-Home.Flex120 {
display: flex;
}
.p-Home.Flex121 {
display: flex;
}
.p-Home.Flex122 {
display: flex;
}
.p-Home.Flex114 {
display: flex;
flex-direction: column;
justify-content: center;
width: ;
}
.p-Home.Flex130 {
display: flex;
row-gap: ;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #ccc4c4;
margin-top: ;
}
.p-Home.Flex124 {
display: flex;
}
.p-Home.Flex125 {
display: flex;
}
.p-Home.Flex126 {
display: flex;
}
.p-Home.Flex115 {
display: flex;
flex-direction: column;
justify-content: center;
width: ;
}
.p-Home.Flex131 {
display: flex;
}
.p-Home.Flex87 {
display: flex;
width: 500px;
flex-direction: column;
row-gap: 55px;
column-gap: ;
}
.p-Home.Flex89 {
display: flex;
}
.p-Home.Flex90 {
display: flex;
row-gap: ;
column-gap: 30px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #c2bdbd;
}
.p-Home.Flex96 {
display: flex;
}
.p-Home.Flex97 {
display: flex;
column-gap: ;
}
.p-Home.Flex104 {
display: flex;
flex-direction: column;
justify-content: center;
width: ;
}
.p-Home.Flex98 {
display: flex;
}
.p-Home.Flex99 {
display: flex;
}
.p-Home.Flex91 {
display: flex;
column-gap: 30px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #c5bebe;
}
.p-Home.Flex100 {
display: flex;
}
.p-Home.Flex101 {
display: flex;
}
.p-Home.Flex105 {
display: flex;
flex-direction: column;
justify-content: center;
width: ;
}
.p-Home.Flex102 {
display: flex;
}
.p-Home.Flex103 {
display: flex;
}
.p-Home.Flex112 {
display: flex;
column-gap: 30px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #ccc9c9;
}
.p-Home.Flex108 {
display: flex;
}
.p-Home.Flex109 {
display: flex;
}
.p-Home.Flex110 {
display: flex;
}
.p-Home.Flex107 {
display: flex;
flex-direction: column;
justify-content: center;
width: ;
}
.p-Home.Flex111 {
display: flex;
}
.p-Home.Flex136 {
display: flex;
justify-content: space-between;
align-items: stretch;
flex-direction: column-reverse;
}
.p-Home.Flex137 {
display: flex;
justify-content: flex-start;
flex-direction: column;
margin-left: 120px;
row-gap: ;
column-gap: ;
margin-right: 150px;
margin-bottom: 60px;
}
.p-Home.Flex139 {
display: flex;
justify-content: center;
margin-left: 120px;
margin-right: 120px;
margin-bottom: 50px;
width: 80%;
}
.p-Home.Flex140 {
display: flex;
}
.p-Home.Flex141 {
display: flex;
height: ;
flex-direction: column;
row-gap: 50px;
margin-left: 30px;
margin-right: 30px;
}
.p-Home.Flex142 {
display: flex;
}
.p-Home.Flex143 {
display: flex;
}
.p-Home.Flex144 {
display: flex;
align-items: flex-end;
height: ;
justify-content: space-between;
margin-right: 30px;
margin-top: 70px;
}
.p-Home.Flex146 {
display: flex;
flex-direction: column;
}
.p-Home.Flex147 {
display: flex;
background-color: #151414;
column-gap: 20px;
width: ;
height: 20px;
padding-top: 5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
}
.p-Home.Flex149 {
display: flex;
justify-content: center;
font-family: IBM Plex Sans;
font-size: ;
background-color: #030303;
padding-bottom: 30px;
}
.p-Home.Flex150 {
display: flex;
flex-direction: column-reverse;
row-gap: 10px;
padding-top: 40px;
}
.p-Home.Flex151 {
display: flex;
justify-content: space-between;
flex-direction: row;
font-family: IBM Plex Sans;
color: #fff5f5;
background-color: #030303;
font-size: ;
height: 700px;
}
.p-Home.Flex152 {
display: flex;
flex-direction: column;
font-family: IBM Plex Sans;
font-size: 24px;
row-gap: 30px;
column-gap: ;
margin-left: 120px;
}
.p-Home.Flex156 {
display: flex;
flex-direction: row-reverse;
column-gap: 55px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #afa9a9;
margin-bottom: ;
}
.p-Home.Flex158 {
display: flex;
flex-direction: row-reverse;
column-gap: 195px;
border-bottom-width: 1px;
border-bottom-color: #a7a0a0;
border-bottom-style: solid;
}
.p-Home.Flex159 {
display: flex;
flex-direction: row-reverse;
column-gap: 120px;
margin-bottom: ;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #9f9c9c;
}
.p-Home.Flex160 {
display: flex;
column-gap: 25px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #9a9696;
}
.p-Home.Flex153 {
display: flex;
height: 200px;
}
.p-Home.Flex165 {
display: flex;
flex-direction: column;
font-size: 25px;
row-gap: 30px;
font-family: IBM Plex Sans;
margin-right: 120px;
}
.p-Home.Flex161 {
display: flex;
column-gap: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #9e9d9d;
}
.p-Home.Flex162 {
display: flex;
flex-direction: row-reverse;
column-gap: 34px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #989494;
}
.p-Home.Flex163 {
display: flex;
flex-direction: row-reverse;
column-gap: 85px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #9f9e9e;
}
.p-Home.Flex164 {
display: flex;
flex-direction: row-reverse;
column-gap: 180px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #a8a6a6;
}
.p-Home.Flex166 {
display: flex;
margin-top: ;
background-color: #000000;
}
.p-Home.Flex168 {
display: flex;
justify-content: space-between;
align-items: stretch;
flex-direction: column-reverse;
}
.p-Home.Flex167 {
display: flex;
justify-content: flex-start;
flex-direction: column;
margin-left: 120px;
row-gap: ;
column-gap: ;
margin-right: 150px;
margin-bottom: 40px;
padding-bottom: 40px;
}
.p-Home.Flex169 {
display: flex;
justify-content: space-between;
font-family: IBM Plex Sans;
color: #ffffff;
column-gap: 50px;
width: ;
margin-left: ;
background-color: #000000;
padding-bottom: 50px;
}
.p-Home.Flex177 {
display: flex;
flex-direction: column;
row-gap: 20px;
margin-left: 115px;
}
.p-Home.Flex179 {
display: flex;
column-gap: 15px;
}
.p-Home.Flex180 {
display: flex;
width: ;
column-gap: 100px;
font-family: IBM Plex Sans;
font-size: 20px;
margin-right: 100px;
}
.p-Home.Flex178 {
display: flex;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex181 {
display: flex;
}
.p-Home.Flex183 {
display: flex;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex182 {
display: flex;
}
.p-Home.Flex184 {
display: flex;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex186 {
display: flex;
justify-content: flex-start;
column-gap: ;
margin-left: ;
color: #6e6e6e;
background-color: #000000;
padding-top: 12px;
padding-bottom: 20px;
}
.p-Home.TextBox1 {
;
}
.p-Home.TextBox2 {
float: right;
}
.p-Home.Image66 {
margin-left: ;
padding-left: ;
}
.p-Home.TextBox4 {
;
}
.p-Home.TextBox5 {
;
}
.p-Home.TextBox6 {
;
}
.p-Home.TextBox7 {
;
}
.p-Home.TextBox8 {
;
}
.p-Home.Image1 {
margin-left: ;
margin-right: ;
}
.p-Home.Image2 {
;
}
.p-Home.Image4 {
width: 20px;
height: 20px;
}
.p-Home.Image3 {
;
}
.p-Home.TextBox9 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 80px;
color: #da2586;
margin-top: ;
width: ;
text-align: left;
word-wrap: normal;
line-height: ;
position: static;
float: none;
clear: none;
}
.p-Home.TextBox10 {
text-align: right;
font-family: IBM Plex Sans;
font-size: 80px;
align-self: flex-start;
}
.p-Home.TextBox11 {
font-family: IBM Plex Sans;
font-size: 80px;
}
.p-Home.TextBox12 {
color: #5f5757;
font-family: IBM Plex Sans;
font-size: 22px;
}
.p-Home.TextBox13 {
color: #685e5e;
font-family: IBM Plex Sans;
font-size: 22px;
}
.p-Home.TextBox14 {
;
}
.p-Home.TextBox15 {
;
}
.p-Home.Button1 {
color: #fff;
background-color: #080808ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: ;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: ;
cursor: pointer;
user-select: none;
outline-color: ;
width: 150px;
height: 50px;
font-family: IBM Plex Sans;
box-sizing: border-box;
background-origin: content-box;
border-bottom-style: solid;
border-bottom-width: ;
align-self: center;
}
.p-Home.TextBox16 {
text-align: right;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 500;
align-self: center;
}
.p-Home.Image6 {
height: ;
width: 20px;
}
.p-Home.Image5 {
margin-left: 122px;
width: ;
height: 500px;
}
.p-Home.TextBox17 {
align-self: flex-start;
font-family: IBM Plex Sans;
text-align: center;
float: none;
height: 50px;
font-size: 20px;
}
.p-Home.Image7 {
width: 150px;
}
.p-Home.Image8 {
width: 150px;
}
.p-Home.Image10 {
width: 150px;
}
.p-Home.Image9 {
width: 150px;
}
.p-Home.TextBox18 {
align-self: center;
font-family: IBM Plex Sans;
font-size: 27px;
font-weight: 500;
text-align: left;
line-height: ;
}
.p-Home.TextBox19 {
align-self: flex-start;
font-family: IBM Plex Sans;
font-size: 55px;
width: 750px;
overflow: visible;
text-align: center;
}
.p-Home.TextBox20 {
;
}
.p-Home.Image13 {
width: 50px;
align-self: flex-start;
height: ;
}
.p-Home.TextBox23 {
font-family: IBM Plex Sans;
font-size: 22px;
width: 259px;
margin-top: 20px;
}
.p-Home.TextBox26 {
width: 100%;
font-family: IBM Plex Sans;
color: #5b5858;
font-size: ;
}
.p-Home.UnorderedList4 {
margin-top: 20px;
font-family: IBM Plex Sans;
flex-direction: row;
align-items: stretch;
}
.p-Home.Image14 {
width: 50px;
}
.p-Home.TextBox27 {
font-family: IBM Plex Sans;
font-size: 22px;
}
.p-Home.TextBox28 {
font-family: IBM Plex Sans;
font-size: ;
font-weight: 500;
color: #524e4e;
}
.p-Home.UnorderedList7 {
font-family: IBM Plex Sans;
}
.p-Home.Image12 {
width: 50px;
align-self: flex-start;
font-family: IBM Plex Sans;
text-align: left;
position: static;
float: left;
}
.p-Home.TextBox22 {
width: ;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 22px;
}
.p-Home.TextBox25 {
width: 100%;
font-family: IBM Plex Sans;
color: #6b6868;
font-size: ;
}
.p-Home.UnorderedList6 {
font-family: IBM Plex Sans;
}
.p-Home.TextBox35 {
font-family: IBM Plex Sans;
font-size: 30px;
line-height: ;
box-sizing: content-box;
}
.p-Home.TextBox36 {
font-family: IBM Plex Sans;
font-size: 60px;
text-align: left;
font-weight: normal;
word-wrap: normal;
line-height: ;
background-clip: content-box;
-webkit-background-clip: content-box;
width: 70%;
}
.p-Home.Button2 {
color: #fff;
background-color: #0a0a0b;
padding-top: 15px;
padding-left: ;
padding-bottom: 15px;
padding-right: ;
font-size: 22px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
align-self: center;
font-family: IBM Plex Sans;
width: 250px;
}
.p-Home.Overlay1 {
background-color: #00000073;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
flex-direction: row;
}
.p-Home.Image73 {
;
}
.p-Home.TextBox158 {
font-family: IBM Plex Sans;
font-size: 30px;
}
.p-Home.TextBox159 {
;
}
.p-Home.Image76 {
height: 20px;
align-self: baseline;
overflow: visible;
box-sizing: content-box;
text-align: left;
background-attachment: local;
}
.p-Home.TextBox162 {
font-family: IBM Plex Sans;
color: #040404;
}
.p-Home.TextBox157 {
font-size: 30px;
}
.p-Home.Image72 {
;
}
.p-Home.TextBox156 {
;
}
.p-Home.TextBox161 {
font-family: IBM Plex Sans;
color: #040404;
}
.p-Home.Image75 {
height: 20px;
align-self: baseline;
overflow: visible;
box-sizing: content-box;
text-align: left;
background-attachment: local;
}
.p-Home.Image71 {
;
}
.p-Home.TextBox154 {
font-size: 30px;
}
.p-Home.TextBox155 {
;
}
.p-Home.Image74 {
height: 20px;
align-self: baseline;
overflow: visible;
box-sizing: content-box;
text-align: left;
background-attachment: local;
}
.p-Home.TextBox160 {
font-family: IBM Plex Sans;
color: #040404;
}
.p-Home.Image20 {
height: 15px;
background-color: #fffcfcff;
margin-top: 20px;
width: ;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
padding-right: 20px;
margin-left: ;
margin-right: 5px;
}
.p-Home.Image21 {
background-color: #fbf1f1;
height: 15px;
margin-top: 20px;
width: ;
margin-right: 150px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
padding-right: 20px;
}
.p-Home.TextBox54 {
font-family: IBM Plex Sans;
color: #fff4f4;
font-size: 30px;
}
.p-Home.TextBox55 {
font-family: IBM Plex Sans;
font-size: 66px;
color: #f5e8e8;
align-self: auto;
word-wrap: normal;
line-height: ;
background-clip: border-box;
-webkit-background-clip: border-box;
}
.p-Home.TextBox57 {
;
}
.p-Home.Image26 {
height: 20px;
align-self: baseline;
overflow: visible;
box-sizing: content-box;
text-align: left;
background-attachment: local;
}
.p-Home.TextBox67 {
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 500;
color: #f4ebeb;
}
.p-Home.TextBox68 {
color: #d0c5c5;
}
.p-Home.TextBox66 {
;
}
.p-Home.Image30 {
height: 20px;
align-self: baseline;
overflow: visible;
box-sizing: content-box;
text-align: left;
background-attachment: local;
}
.p-Home.TextBox70 {
;
}
.p-Home.TextBox71 {
color: #b0a9a9;
}
.p-Home.TextBox69 {
;
}
.p-Home.Image31 {
height: 20px;
align-self: baseline;
overflow: visible;
box-sizing: content-box;
text-align: left;
background-attachment: local;
}
.p-Home.TextBox73 {
;
}
.p-Home.TextBox74 {
color: #c2c1c1;
}
.p-Home.TextBox72 {
;
}
.p-Home.Image32 {
height: 20px;
align-self: baseline;
overflow: visible;
box-sizing: content-box;
text-align: left;
background-attachment: local;
}
.p-Home.TextBox76 {
;
}
.p-Home.TextBox77 {
color: #b3b1b1;
}
.p-Home.TextBox75 {
;
}
.p-Home.Image33 {
height: 20px;
align-self: baseline;
overflow: visible;
box-sizing: content-box;
text-align: left;
background-attachment: local;
}
.p-Home.Image34 {
margin-top: 20px;
margin-bottom: 20px;
margin-right: ;
margin-left: ;
height: 600px;
width: 350px;
}
.p-Home.Image35 {
margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
margin-right: 10px;
height: 600px;
width: ;
}
.p-Home.Image36 {
width: 350px;
margin-left: ;
margin-right: ;
height: 372px;
}
.p-Home.Image37 {
margin-top: 20px;
margin-bottom: 20px;
margin-left: ;
margin-right: ;
width: 350px;
height: 210px;
}
.p-Home.TextBox78 {
font-family: IBM Plex Sans;
font-size: 50px;
}
.p-Home.TextBox79 {
font-family: IBM Plex Sans;
font-size: 22px;
}
.p-Home.TextBox80 {
width: 750px;
height: 130px;
font-family: IBM Plex Sans;
font-size: 20px;
color: #565252;
}
.p-Home.TextBox95 {
width: 250px;
font-family: IBM Plex Sans;
color: #555252;
margin-bottom: 30px;
}
.p-Home.TextBox96 {
font-family: IBM Plex Sans;
font-size: 32px;
width: 350px;
}
.p-Home.TextBox101 {
align-self: center;
width: 200px;
color: #555151;
font-family: IBM Plex Sans;
}
.p-Home.Image48 {
width: 25px;
align-self: flex-start;
}
.p-Home.Image49 {
width: 25px;
align-self: flex-start;
}
.p-Home.TextBox102 {
align-self: center;
width: 200px;
font-family: IBM Plex Sans;
color: #4f4d4d;
}
.p-Home.TextBox97 {
font-family: IBM Plex Sans;
font-size: 32px;
width: 300px;
}
.p-Home.TextBox98 {
width: 250px;
font-family: IBM Plex Sans;
color: #5a5757;
margin-bottom: 40px;
}
.p-Home.Image51 {
width: 25px;
align-self: flex-start;
}
.p-Home.TextBox103 {
align-self: center;
width: 200px;
font-family: IBM Plex Sans;
color: #4d4d4d;
}
.p-Home.TextBox99 {
width: 350px;
font-family: IBM Plex Sans;
color: #746d6d;
margin-bottom: 40px;
}
.p-Home.TextBox100 {
font-family: IBM Plex Sans;
font-size: 32px;
width: 290px;
}
.p-Home.TextBox104 {
font-family: IBM Plex Sans;
font-size: 40px;
}
.p-Home.TextBox94 {
font-family: IBM Plex Sans;
font-size: 40px;
}
.p-Home.Image39 {
width: 60px;
}
.p-Home.TextBox84 {
font-family: IBM Plex Sans;
font-size: 32px;
}
.p-Home.TextBox85 {
width: 250px;
font-family: IBM Plex Sans;
color: #746d6d;
margin-bottom: 30px;
}
.p-Home.TextBox86 {
align-self: center;
width: 200px;
font-family: IBM Plex Sans;
color: #4d4d4d;
}
.p-Home.Image42 {
width: 25px;
align-self: flex-start;
}
.p-Home.Image40 {
width: 60px;
}
.p-Home.TextBox87 {
width: 250px;
font-family: IBM Plex Sans;
color: #5a5757;
margin-bottom: 30px;
}
.p-Home.TextBox88 {
font-family: IBM Plex Sans;
font-size: 32px;
}
.p-Home.TextBox89 {
align-self: center;
width: 200px;
font-family: IBM Plex Sans;
color: #4f4d4d;
}
.p-Home.Image43 {
width: 25px;
align-self: flex-start;
}
.p-Home.Image45 {
width: 25px;
align-self: flex-start;
}
.p-Home.TextBox93 {
align-self: center;
width: 200px;
color: #555151;
font-family: IBM Plex Sans;
}
.p-Home.TextBox91 {
font-family: IBM Plex Sans;
font-size: 32px;
}
.p-Home.TextBox92 {
width: 250px;
font-family: IBM Plex Sans;
color: #555252;
margin-bottom: 30px;
}
.p-Home.Image46 {
width: 60px;
}
.p-Home.TextBox105 {
font-family: IBM Plex Sans;
font-size: 50px;
}
.p-Home.TextBox106 {
font-family: IBM Plex Sans;
font-size: 30px;
}
.p-Home.Image53 {
;
}
.p-Home.Image54 {
;
}
.p-Home.TextBox107 {
font-family: IBM Plex Sans;
font-size: 40px;
}
.p-Home.TextBox109 {
font-family: IBM Plex Sans;
font-size: 22px;
}
.p-Home.TextBox110 {
font-family: IBM Plex Sans;
color: #353232;
}
.p-Home.Image55 {
width: 20px;
height: ;
}
.p-Home.Image56 {
width: 20px;
}
.p-Home.TextBox112 {
align-self: center;
font-family: IBM Plex Sans;
font-size: 22px;
color: #f8f3f3;
}
.p-Home.TextBox113 {
font-family: IBM Plex Sans;
font-size: 50px;
color: #f5f0f0;
}
.p-Home.TextBox118 {
margin-bottom: 50px;
}
.p-Home.Image57 {
margin-bottom: 50px;
}
.p-Home.TextBox119 {
padding-bottom: 50px;
}
.p-Home.Image58 {
margin-bottom: 50px;
}
.p-Home.TextBox120 {
margin-bottom: 50px;
}
.p-Home.Image59 {
margin-bottom: 50px;
}
.p-Home.TextBox121 {
margin-bottom: 50px;
}
.p-Home.Image60 {
margin-bottom: 50px;
}
.p-Home.Image61 {
margin-bottom: 50px;
height: ;
}
.p-Home.TextBox122 {
margin-bottom: 50px;
}
.p-Home.Image62 {
margin-bottom: 50px;
}
.p-Home.TextBox123 {
margin-bottom: 50px;
}
.p-Home.Image63 {
margin-bottom: 50px;
}
.p-Home.TextBox124 {
margin-bottom: 50px;
}
.p-Home.Image64 {
margin-bottom: 50px;
}
.p-Home.TextBox125 {
margin-bottom: 50px;
}
.p-Home.TextBox126 {
font-family: IBM Plex Sans;
font-size: 50px;
color: #ffffff;
}
.p-Home.TextBox127 {
font-family: IBM Plex Sans;
font-size: 45px;
color: #fefbfb;
}
.p-Home.Image67 {
width: 220px;
align-self: flex-start;
}
.p-Home.TextBox142 {
color: #b7b6b6;
}
.p-Home.TextBox143 {
color: #cfcbcb;
}
.p-Home.Image69 {
;
}
.p-Home.TextBox144 {
;
}
.p-Home.TextBox145 {
;
}
.p-Home.TextBox146 {
;
}
.p-Home.TextBox147 {
;
}
.p-Home.TextBox148 {
;
}
.p-Home.TextBox149 {
;
}
.p-Home.TextBox150 {
;
}
.p-Home.TextBox151 {
;
}
.p-Home.TextBox152 {
;
}
.p-Home.TextBox153 {
font-family: IBM Plex Sans;
font-size: 20px;
text-align: left;
align-self: center;
margin-left: 115px;
}
