.p-Home.TextBox9{
    
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox18{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox35{
    letter-spacing: 5px;
    background-image: linear-gradient( #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox38{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox41{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox44{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox54{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox79{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox106{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox112 .TextBox155{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox155{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox156{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox159{
    letter-spacing: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox127{
   
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

.p-Home.Flex27::-webkit-scrollbar{
    display: none;
}

.p-Home.Image53{
    filter: grayscale(1);
}

.p-Home.Button1{
  
        box-shadow: 0.5rem 0.5rem rgb(197, 105, 6); 
        
}

.p-Home.Button2{
  
    box-shadow: 0.5rem 0.5rem rgb(197, 105, 6); 
    
}